<div>
	<form #todoForm="ngForm" (ngSubmit)="addTodo(todoForm)" novalidate>
		<div role="alert" *ngIf="todoForm.submitted && !todoForm.hasValid">Invalid!</div>
		<label>
			<span class="blind">Add an item</span>
			<input type="text" [(ngModel)]="model.Title" name="Title" placeholder="Add an task..." required>
		</label>
		<button type="submit" aria-label="Submit" [disabled]="todoForm.loading">
			<span *ngIf="!todoForm.loading">Submit</span>
			<span aria-busy="true" *ngIf="todoForm.loading">Loading...</span>
		</button>

	</form>
</div>

<ul>
	<li *ngFor="let todo of todoes">
		<label>
			<input type="checkbox" aria-label="Mark as complete" title="Mark as complete" [(ngModel)]="todo.Completed" [checked]="todo.Completed" (change)="completeTodo(todo)">
			<span *ngIf="!todo.Completed">{{todo.Title}}</span>
			<del *ngIf="todo.Completed">{{todo.Title}}</del>
		</label>
		<button type="button" (click)="removeTodo(todo)" title="Task to delete">Delete</button>
	</li>
</ul>

<pre><code><strong>Form data: </strong><br>
submitted: {{todoForm.submitted}},
loading: {{todoForm.loading}},
hasValid: {{todoForm.hasValid}},
valid: {{todoForm.valid}},
value: {{todoForm.value | json}}
</code></pre>
