<!DOCTYPE html>
<html lang="ko">
<head prefix="og: http://ogp.me/ns#">
	<base href="/">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,target-densitydpi=medium-dpi"> -->
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="~/Content/style.css">
	<meta name="format-detection" content="address=no">
	<script src="~/Scripts/jquery-3.1.1.slim.min.js"></script>
	<!-- Polyfill(s) for older browsers -->
	<script src="node_modules/core-js/client/shim.min.js"></script>
	<script src="node_modules/zone.js/dist/zone.js"></script>
	<!-- Configure Angular2 -->
	<script>window.module = 'build';</script>
</head>
<body>
	@RenderBody()
	<script src="dist/build.js"></script>
	@RenderSection("scripts", required: false)
</body>
</html>
