<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="src.DAL.Properties.Settings.ApplicationDbContext_boilerplateConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=ApplicationDbContext-boilerplate;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>